<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GYMPRO - Cliente Asistencias</title>
<link rel="stylesheet" href="/static/css/g.css">
</head>
<body>

<main class="content">
<h2>Mis asistencias</h2><section class="card"><input id="desdeAsistencia" type="date"><input id="hastaAsistencia" type="date"><button id="filtrarAsistencia">Filtrar</button><table><thead><tr><th>Fecha</th><th>Actividad</th><th>Horario</th><th>Estado</th></tr></thead><tbody><tr><td>10/08/2026</td><td>Spinning</td><td>18:00</td><td>Asistió</td></tr><tr><td>08/08/2026</td><td>Yoga</td><td>19:00</td><td>Asistió</td></tr></tbody></table></section>
</main>
<script src="/static/js/cliente_asistencias.js"></script>
</body>
</html>